# Environment & Local Data
.env
participants.db
*.csv
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
